<div id="overlay2">
    <!--<video class="visible-desktop" id="keys-vid2" poster="~/img/background/keys.mp4" autoplay loop muted>
        <source type="video/webm" src="~/img/background/keys.webm">
        <source type="video/mp4" src="~/img/background/keys.mp4">
    </video>-->

    <div id="keys-vid2"><img src="~/img/background/FogForest_Main.jpg" /></div>
    <div id="contact">
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <section id="contact" class="content-section text-center">
                                <div class="contact-section">
                                    <div class="container">
                                        <h1 class="contact_header"> Contact Me.</h1>
                                        <p class="contact_paragraph">Let me know what you think about my site! Otherwise, let me know if you think I would be a good fit for an opportunity you have!</p>
                                        <div class="container social_buttons">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <a href="https://www.linkedin.com/in/wsbrandowiii/" target="_blank" class="contact_btn1 btn btn-block btn-lg"><i class="fa fa-linkedin network-name"> LinkedIn</i></a>
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>
                                                        <a href="https://github.com/wsbrandow" target="_blank" class="contact_btn2 btn btn-block btn-lg"><i class="fa fa-github network-name"> Github</i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--End of Content div-->
    </div>
</div>