
<div id="overlay">
    <!--<video class="visible-desktop" id="keys-vid" poster="~/img/background/Snowy Trees.mp4" autoplay loop muted>
        <source type="video/mp4" src="~/img/background/Snowy Trees.mp4">
    </video>-->
    <div id="keys-vid"><img src="~/img/background/FogForest_Main.jpg" /></div>
    <div id="mobile-view"><img src="~/img/background/FogForest_Main.jpg" /></div>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <div class="container">
                        <h1 class="cover-heading">Hello People.</h1>
                        <p class="lead">My name is Will, and I love technology. If you came here to learn more about me and what I do, let me take you through my bio. </p>
                        <p class="lead">
                            <a href="#profile" class="btn btn-block btn-default"><i class="fa fa-angle-down fa-3x faa-pulse animated" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="profile">
    <div id="about_content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="container">
                        <h1 class="abt_left">My Objective</h1>
                        <p class="abt_left">
                            I am a Seattle, WA area based technical professional and coding aficionado, and I'm looking to step into my next dream role!
                        </p>
                    </div>
                </div>
                <div class="col-md-4 abtright">
                    <div class="container">
                        <h1 class="abt_right">Basic Details</h1>
                        <h2 class="abt_right head">
                            Name
                        </h2>
                        <p class="abt_right par">Will Brandow</p>
                        <h2 class="abt_right head">Location</h2>
                        <p class="abt_right par">Mill Creek, Washington</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--End of about_content div-->
    <section id="skills_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <h1 class="skills_header">Technical and Web Development Skillsets</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <ul class="no-bullets">
                            <li>
                                <span class="skills-title">HTML</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">CSS</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">Bootstrap</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">Git</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">Command Line</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">JavaScript</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">Python</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </li>
                            <li>
                                <span class="skills-title">SASS/SCSS</span>
                                <span class="skills-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of skills_content div-->
    <section id="xp_content">
        <div class="container row1">
            <div class="row">
                <div class="col-md-12">
                    <h1>Experience</h1>
                </div>
            </div>
        </div>
        <div class="container row2">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <button class="btn btn-block button-blue btn1" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                            Molina Healthcare
                        </button>
                    </p>
                    <div class="collapse" id="collapse1">
                        <div class="card card-body">
                            <h2>Sr. Helpdesk Analyst | Web Content Strategist</h2>
                            <p>Bothell, WA (October 2016 to Present)</p>
                            <ul>
                                <li>Contributing to technical documentation database overhaul by managing web pages and editing HTML source code in ServiceNow Platform and styling these webpages with built-in CSS Framework and direct styling elements within the HTML.</li>
                                <li>Managing various departmental Sharepoint 2013 Site pages by adding/removing content via built-in Sharepoint controls (views, webparts, etc) and enhancing Sharepoint functionality by importing and utilizing Bootstrap libraries.</li>
                                <li>Optimizing web-pages by adding and editing meta-data to improve search engine relevancy and usability. </li>
                                <li>Making targeted UI adjustments to site pages to improve site readability and navigability.</li>
                                <li>Performing Content Analysis and making improvements to various web-based workflows and documentation.</li>
                                <li>Performing technical writing duties on web pages by meticulously reviewing content and correcting errors with grammar, wording, and format.</li>
                                <li>Providing technical support to internal and external end-users across a diverse array of mobile, desktop, and proprietary Molina software applications.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <button class="btn btn-block button-blue btn2" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                            CoreLogic
                        </button>
                    </p>
                    <div class="collapse" id="collapse2">
                        <div class="card card-body">
                            <h2>Helpdesk Analyst</h2>
                            <p>Minnetonka, MN (March 2016 to October 2016)</p>
                            <ul>
                                <li>Provided technical support on reported technical issues via telephone, email, and in person</li>
                                <li>Packaged and shipped prepared PCs, Laptops, and Printers to users in remote office locations.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        <button class="btn btn-block button-blue btn3" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample">
                            UCare of Minnesota
                        </button>
                    </p>
                    <div class="collapse" id="collapse3">
                        <div class="card card-body">
                            <h2>Medicare Member Services Representative</h2>
                            <p>Minneapolis, MN (February 2014 to January 2016)</p>
                            <ul>
                                <li>Provided technical support to members for their ucare.org accounts by resetting passwords, setting up accounts, and troubleshooting other technical issues.</li>
                                <li>Resolved up to 80-100 inquiries and complaints a day via phone, email, and work queues.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Education</h1>
                            <h2 class="ed_location">Minnesota State University</h2>
                            <p class="ed_date">January 2011 - December 2013</p>
                            <ul class="ed_studies">
                                <li>B.A. History</li>
                                <li>Minors in Political Science and Scandinavian Studies</li>
                            </ul>
                        </div>
                            <h1>Certifications</h1>
                            <p>CompTIA Security+ (July 2018)</p>
                        <div class="col-md-6">
                            

                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </section>
</div><!--End of #profile div-->