<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio</title>
</head>
<body>
    <div>
        <h1>Molina - IT Knowledge Base Overhaul</h1>
        <p>Description (i.e. Creating webpages and contributing to overall User Expirience UX)</p>
        <p>Designing process workflows and flowcharts and putting these up</p>
        <h1>Sharepoint Site Management and Design</h1>
        <p>Building team sites from the ground up, workflows, team coordination</p>
        <h1>Personal Projects</h1>
        <p>This site</p>
        <p>Baxter Air Engineering Overhaul</p>
    </div>
</body>
</html>
